*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.main{
    height: 100vh;
    width: 100%;
    background-image: url(new222.jpeg);
    background-size: cover;
    background-position: center;
   


  
}
.logo{
    color: palegreen;
    cursor: pointer;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: bisque;
    padding-top: 50px;
    padding-left: 8%;
    padding-right: 8%;
}
nav ul li{
    list-style-type: none;
    display: inline;
    padding: 10px 25px;
}

nav ul li a{
    color: white;
    text-shadow: 20px;
    font-weight: bolder;
    /* color: black; */
}
nav ul li a:hover {
    color: pink;
    transition: 0.3s;
}
.paragraph{
    color: blanchedalmond;
    text-align: center;
    top: 30%;
    left: 10%;
    font-size: larger;
    padding-bottom: 100px; 

}

h1{
    margin: 25px 0px 25px;
    font-size: 20px;

}
h3{
    font-size: 20px;
   
}
.news form{
    width: 200px;
    max-width: 100%;
    position: relative;
}
.news form input:first-child {
    display: inline-block;
    width: 100%;
    padding: 20px 150px 14px 12px;
    border: 5px solid palevioletred;
    outline: none;
    border-radius: 30px;

}
.news form input:last-child {
    position:absolute;
    display: inline-block;
    padding: 15px 14px;
    border: 2.5 solid plum;
    border-radius: 30px;
    background-color: palevioletred;
    top:5px;
    right: 5px;
}
.me{
    text-align: center;
    display: flex;
    flex-direction: column;
    
    
    
}
.about_me{

  
    width: 100%;
    padding: 20px 0px;
    color: blanchedalmond;
    margin-bottom: 200px;
    background-image: url(1.jpg); 
   
}
.me h4{
    text-align: center;
    font-size: 30px;
    
}

.photo{
    width: 230px;
    height: auto;
    padding-left: 50px;
  
}


.about{
    width: 300px;  
        display: flex;
        max-width: 95%;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-around;
        width: 1000px;
      
     
     
}
.mindset{
    padding-left: 10px;  
    text-align: justify;
  

   
    
}

h4{
    color: blanchedalmond;
    display: inline-block;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 30px;
    margin-bottom: 40px;
}
button{
    background-color: palevioletred;
    color: blanchedalmond;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: 0.3s;

}
button:hover{

    background-color: transparent;
    border: 2px solid plum;
    cursor: pointer;
    

}

.button1 {
   margin-left: 50px;
  
    background-color: palevioletred;
    color: blanchedalmond;
    text-decoration: none;
    border: 5px solid transparent;
    font-weight:bold;
 
    border-radius: 30px;
    transition: 0.3s;
    

}

.button2 {
    margin-left: 50px;
    background-color: palevioletred;
    color: blanchedalmond;
    text-decoration: none;
    border: 5px solid transparent;
    font-weight:bold;
    border-radius: 30px;
    transition: 0.3s;
}

.button3 {
    margin-left: 50px;
    background-color: palevioletred;
    color: blanchedalmond;
    text-decoration: none;
    border: 5px solid transparent;
    font-weight:bold;
    border-radius: 30px;
    transition: 0.4s;
} 




.skill h2{
    text-align: center;
}
.box h5{
    text-align: center;
}
.skill1{
    
  
   padding-top: 100px;
}

.pra{
    color: bisque;
}
.Basic{
 margin-left: auto;
 margin-right: auto;
} 
h3{
    text-align: center;
}
.button4{
    padding-left: 200px;
    
    color: black;
    border: 5px solid transparent;
    font-weight:bold;
    border-radius: 30px;
    transition: 0.3s;
}

.button5{
    padding-left: 150px;
   
    color: black;
    
    border: 5px solid transparent;
    font-weight:bold;
    border-radius: 30px;
    transition: 0.3s;
}

.button6{
    padding-left: 150px;
     color: black;
    border: 5px solid transparent;
    font-weight:bold;
    border-radius: 30px;
    transition: 0.3s;
}








@media screen and (max-width:700px) {

    nav ul li{
    
    display: flex;
    flex-wrap: wrap;
    padding: 2px 2px;
}
.paragraph{
    color: blanchedalmond;
    top: 40%;
    left: 10%;
    margin-top: 100px;


}
.news form input:first-child {
    display: inline-block;
    width: 100%;
    padding: 8px 15px 4px 3px;
    border: 5px solid palevioletred;
    outline: none;
    border-radius: 30px;

}
.news form input:last-child {
    position:absolute;
    display: inline-block;
    padding: 2px 2px;
    border: 2.5 solid plum;
    border-radius: 7.5px;
}
h3{
    font-size: 10px;
    margin-bottom: 50px;
}

.paragraph{
   margin-bottom: 200px;
}
.me{
    margin-top: 50px;
}
.about {
    padding-left: 20px;  
   width: 900px;

   display: flex;
    flex-wrap: wrap;
   text-align: justify;
    
}
.photo{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;

}


.button1{
    background-color: palevioletred;
    color: blanchedalmond;
    text-decoration: none;
    border: 1px solid transparent;
    font-weight:bold;
 
    border-radius: 30px;
    transition: 0.3s;
    
}
.button2 {
    background-color: palevioletred;
    color: blanchedalmond;
    text-decoration: none;
    border: 1px solid transparent;
    font-weight:bold;
    border-radius: 30px;
    transition: 0.3s;
}
.button3 {
    background-color: palevioletred;
    color: blanchedalmond;
    text-decoration: none;
    border: 1px solid transparent;
    font-weight:bold;
    border-radius: 30px;
    transition: 0.3s;
    margin-top: 5px;
}
.Basic{
    text-align: center;
    
}
 .button4{
  
   margin-left: -200px;
    color: black;
    text-decoration: none;
    border: 1px solid transparent;
    font-weight:bold;
    border-radius: 30px;
    transition: 0.3s;
    margin-top: 5px;
}
.button5{
    margin-left: -150px;

    color: palevioletred;
    text-decoration: none;
    border: 1px solid transparent;
    font-weight:bold;
    border-radius: 30px;
    transition: 0.3s;
    margin-top: 5px;
}
.button6{
    margin-left: -150px;
    color: palevioletred;
    text-decoration: none;
    border: 1px solid transparent;
    font-weight:bold;
    border-radius: 30px;
    transition: 0.3s;
    margin-top: 5px;
}


.page img{
    float: left;
    margin-right: 10px;
   
}
.grid{
    padding-top: 50px;
}
.landing{
    padding-top: 50px;
}

 .pages img{
    float:left;
    margin-right: 10px;
    
    
}

.pages p{
 margin-left: 20px;
 text-align: justify;

}
.page p{
    text-align: justify;
} 
.nkuli {
    text-align: center;
    padding-top: 40px;
}
.pra a{
    color: palevioletred;
}
}


@media screen and (min-width: 701px) {
    .button4{
       
        margin-left: -200px;
        color: palevioletred;
        border: 5px solid transparent;
        font-weight:bold;
        border-radius: 30px;
        transition: 0.3s;
    }
    
    .button5{
       
        margin-left: -150px;
        color: palevioletred;
        
        border: 5px solid transparent;
        font-weight:bold;
        border-radius: 30px;
        transition: 0.3s;
    }
    
    .button6{
        margin-left: -150px;
         color: palevioletred;
        border: 5px solid transparent;
        font-weight:bold;
        border-radius: 30px;
        transition: 0.3s;
    }
    .button7{
        margin-left: -150px;
        color: palevioletred;
        text-decoration: none;
        border: 1px solid transparent;
        font-weight:bold;
        border-radius: 30px;
        transition: 0.3s;
        margin-top: 5px;
    }
    .Basic {
display: flex;
padding-top: 10px;
text-align: center;

    }
   .page img{
       float: right;
       margin-left: 10px;
       width: 100px;
      
   }
   
   .pages img{
       float:right;
       margin-left: 10px;
       width: 100px;
   }
   .pages p{
    margin-left: 30px;
    text-align: justify;
   }

   .page p{
    text-align: justify;
   }
   .nkuli {
       text-align: center;
       padding-bottom: 30px;
   }
   .button1{
       
      text-align: center;
   }
   .button2{
    text-align: center;
 }
 .button3{
    text-align: center;
    
 }
 .pra a{
     color: palevioletred;
 }
}